<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>githubviz</title>
    <script type="text/javascript" src="d3.js?2.7.2"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function (){
      	
      	// Ajax activity indicator bound to ajax send/complete
	    $("#viz_form").bind("ajaxSend", function(){
   			$(".ajaxBusy").show();
 	    }).bind("ajaxComplete", function(){
   			$(".ajaxBusy").hide();
 	    });

      	
      	
        $('#viz_form').submit(function(ev){
          //this happens if form is submitted
          //prevent the default behavior of a form (it should do nothing in our case)
          ev.preventDefault();
          //send an ajax request to our action
          $.ajax({
            url: "/follower_viz",
            //serialize the form and use it as data for our ajax request
            data: $(this).serialize(),
            //the type of data we are expecting back from server, could be json too
            dataType: "html",
            //global:false,
            success: function(data) {
              //if our ajax request is successful, replace the content of our viz div with the response data
              $('#content').html(data);
            }
          });

        $('#viz_network').empty();
      	$('#viz_repos').empty();
	  	$('#viz_commits').empty();
	  	$('#viz_network').append(document.createTextNode("follower"));
      	$('#viz_repos').append(document.createTextNode("repository growth"));
	  	$('#viz_commits').append(document.createTextNode("commit activity"));
      	$('#menu').show();
          
        });

        $('#viz_network').click(function(ev){

          ev.preventDefault();

          $.ajax({
            url: "/follower_viz",
            data: $("#viz_form").serialize(),
            dataType: "html",
            success: function(data) {
              $('#content').html(data);
            }
          });

        });

		$('#viz_repos').click(function(ev){

          ev.preventDefault();

          $.ajax({
            url: "/repo_viz",
            data: "user="+$("#viz_form input:first").val(),
            dataType: "html",
            success: function(data) {
              $('#content').html(data);
            }
          });

        });
		$('#viz_commits').click(function(ev){

          ev.preventDefault();

          $.ajax({
            url: "/commit_viz",
            data: "user="+$("#viz_form input:first").val(),
            dataType: "html",
            success: function(data) {
              $('#content').html(data);
            }
          });

        });
       
      });
    </script>
    <style>
      .ajaxBusy{
    	display:none;
    	text-align: center;
      }
      circle.node {
        stroke: #fff;
        stroke-width: 1.5px;
      }

      line.link {
        stroke: #999;
        stroke-opacity: .6;
      }

      * {
        margin:0px;
        padding: 0px;
        font-family: Verdana;
        color: #7f7f7f;
      }
     
      html, body {height: 100%;}

	  #wrap {min-height: 100%;}

      #main {overflow:auto;
	  padding-bottom: 30px;}  /* must be same height as the footer */

      #footer {position: relative;
	  margin-top: -30px; /* negative value of footer height */
	  height: 30px;
	  clear:both;
	  text-align: center;
	  background-color: #a1e80c;} 

     /*Opera Fix*/
     body:before {
	 content:"";
	 height:100%;
	 float:left;
	 width:0;
	 margin-top:-32767px;/
     }

     
      h3 {
       padding-bottom: 5px;
      
      }
      
      p {
      	font-size: 12pt;
      }
      
      .gallery{
      	
      	float:right;
      }
          
      #description_text{
      	width:250px;
      }
      
      #header{
      	padding:10px;
      	background-color:#CDCDCD;
      	height: 100px;
      }
         
      .formlabel {
      	font-size: 12pt;
      }
      
      #menu{
      	float:left;
      }
      
       #menu li{
      	float:left;
      	list-style-type: none;
      	padding: 10px 0px 0px 20px;
      	font-size:12pt;
      	font-weight: lighter;
      }
      
      #viz_form{
      	padding: 10px 0px 0px 0px;
      }
      
      a{
      	text-decoration: none;
      	color: #7f7f7f;
      }
      a:hover{
      	color: #000000;
      }
      
      .level_buttons{
      	padding: 10% 0;
      }
      
      .level_buttons form{
      	float:left;
      	padding: 2% 2% 0 0;
      }
      
      .table_text{text-align: left;
      }

	  .mode{
	  	clear: both;
		font-size: 12pt;
		padding: 2% 2% 0 0;
	  }
	  .show_hide{
	  	float:left;
		font-size: 10pt;
		padding: 0 0 0 0;
		margin-top: 4%;rr
	  }
	  .chord {
	  font-size: 8pt; 
	  font-family: Verdana, sans-serif;
	  
	  padding-left: 0px;
	  }
	
	  path.chord {
	  fill-opacity: .85;
	  stroke-opacity: 1.0;
	  }
	
	  path{
	  fill-opacity: 1.0;
	  stroke-opacity: 1.0;
	  }
	
	  .clickarea{
	  width: 280px;
	  height: 280px;
	  margin: 10% 0 0 0;
	  z-index: 1;
	  left:50%;
	  position: absolute;
	  cursor: pointer;
	  }
	
	  svg.chord {
	  clear: both;
	  position: absolute;
	  z-index: 0;
	  left:50%;
	  margin-left:-9%;
	  }
	  .desc{width: 250px; background-color:#CDCDCD; float:left; padding: 0 1%;}
	  .nodetext {pointer-events: none; font: 10px Verdana, sans-serif; }
	  .start_description{clear: left; text-align: center;}
	
     
    </style>
    <!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
    <![endif]-->
    
  </head>
  <body>
  	<div id="wrap"> 
  	<div id="main"> 
    <div id="header">
    	<div style="float:left;">
    		<h1><a href="/" name="go home">githubviz</a></h1>
    	</div>
    	<div style="float:right;">
    		<form id="viz_form" action="/" method="post">
      			<label class="formlabel">Enter your username:</label>
      			<input name="user" type="text">
      			<input type="submit" value="Do it!">
      			<input type="hidden" name="level" value="1">
    		</form>
  		</div>
	<div id="menu">
      	<ul>
		<li><a id="viz_network" href="#"></a></li>
		<li><a id="viz_repos" href="#"></a></li>
		<li><a id="viz_commits" href="#"></a></li>
      	</ul>
    </div>
    </div>  
    <div id="content">  
    <div id="vis">
    <div class="start_description">
	<p>Please enter your user name! You're not registered? Please register a user name @ github!</p>
    </div>
    <div class="gallery">
    	<div class="ajaxBusy">
		<p>Loading</p>
		<p><img src="picz/ajax-loader.gif" alt="...it's loading..."></p>
		</div> 
    </div>
	</div>
	</div>
	</div>
	</div>
	<div id="footer">Githubviz 2012</div>
  </body>
</html>
